body {
  font-family: 'Arial', sans-serif;
  background-color: #a7e2fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #1f11a1;
  margin-bottom: 20px;
}

.images img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
  font-weight: bold;
}

#btn-yes {
  background-color: #287dc2;
  color: white;
}

#btn-no {
  background-color: #820aa7;
  color: white;
}

button:hover {
  transform: scale(1.1);
}